bin/
obj/
*.user
*.suo
*.vs/
*.DS_Store
*.log
*.swp
*.tmp
*.bak
*.ncrunch*
*.localhistory/
TestResults/
build/
**/service-account.json
**/firebase-config.json
**/vapid-key.json
.env
uploads/
Migrations/
